{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "space-before-function-paren": ["error", "never"],
    "func-names": ["error", "never"],
    "no-use-before-define": 0,
    "no-confusing-arrow": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }
}
